/* frontend-react/src/index.css */
@import './styles/Global.css'; /* ✅ Global.css 임포트 */

/* 기본 margin, padding 설정 등 */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%; /* 뷰포트 높이 꽉 채움 */
    overflow: hidden; /* 전체 페이지 스크롤 방지 */
}